.footer{
    background-color: aquamarine;
    display:flex;
    align-items: left;
    position: absolute;
    bottom: 10px;
    width: 100%;
    transition: 0.5s;
}
.foot_list{
    left: 0;
    flex: 1;
    list-style: none;
    text-align: center;
    margin: 5px;
    color: black;

}
.foot_list li{
    display: grid;
    align-items: left;
    display: inline-block;
    margin: 10px 20px; 
    font-size: 18px;
}
.reference{
    list-style: none;
    align-items: center;

}
.delivery{
    fill: none;
    width: 160px;
    height: 60px;
    padding: 15px;
    align-items: center;
}
.icons{
    width: 50px;
    cursor: pointer;
    padding: 10px;
}